<p id="notice"><%= notice %></p>

<h2><%= @league_game.game.title %></h2>

Games entered: 
<ol>
<% (0..4).each do |game_number| %>
 <li><%= @league_game.league_night.league_games[game_number].try(:game).try(:title) %></li>
 <% end %>
 </ol>

<table>
<% @league_game.scores.each do |score| %>
<tr><td><%= score.player.nickname %></td><td><%= score.score %></td></tr>
<% end %>
</table>

<% if @league_game.league_night.league_games.count == 5 %>
  <%= link_to 'Create groups', new_group_path %>
<% else %>
  <%= link_to 'Add another game', new_league_game_path %>
<% end %>
| 
<%= link_to 'Edit', edit_league_game_path(@league_game) %> |
<%= link_to 'Back', league_games_path %>
