<p id="notice"><%= notice %></p>

<h1><%= @league.title %> current standings</h1>


<% if @league.uses_matchups? %>
	<div>
		<% @league.league_nights.each do |league_night| %>
	  <%= link_to "Week #{league_night.week_number} Results", league_night_path(league_night) %> |
	<% end %>
	</div>

	<table class="league-table">
	<tr><th>Name</th><th>Outscored %</th></tr>
	<% @players.each do |player| %>
		<tr><td class="text-left"><%= player[0] %></td><td><%= player[1]%></td></tr>
	<% end %>
	</table>


	<table class="league-table">
	<tr><th>Name</th><th>Wins</th><th>Losses</th></tr>
	<% @win_loss.each do |player| %>
		<tr><td class="text-left"><%= player[0] %></td><td><%= player[1]%></td><td><%= player[2] %></td></tr>
	<% end %>
	</table>

	<table class="league-table">
	<tr><th>Name</th><th>% of avg score</th></tr>
	<% Player.expected_points(@league.league_nights.count, @league).each do |player| %>
		<tr><td class="text-left"><%= player[0] %></td><td><%= player[1] %></td></tr>
	<% end %>
	</table>
<% end %>

<% if @league.uses_groups? %>
<%= form_for :league_night, url: create_groups_league_night_path(@league.league_nights.last), method: :post do |f| %>

	<table class="league-table">

		<tr>
			<th>Name</th><th>Average</th><th>Points</th><th>1st</th><th>2nd</th><th>3rd</th><th>4th</th><th>BP</th><th>Games</th><th>Weeks</th>
			<% @league.league_nights.each do |league_night| %>
				<th><%= link_to "W#{league_night.week_number}", league_night_path(league_night)%></th>
			<% end %>
			<% if @admin %>
				<td><%= link_to "Create", new_league_night_path(league_id: @league) %></td>
			<% end %>
		</tr>
		<% @league.players.each do |player| %>
			<tr><td class="text-left"><%= player.nickname %></td><td><%= player.average_score(@league) %></td><td><%= player.points(@league) %></td>

				<td><%= player.score_distribution(@league)[4] %></td><td><%= player.score_distribution(@league)[3] %></td><td><%= player.score_distribution(@league)[2] %></td><td><%= player.score_distribution(@league)[1] %></td><td><%= player.bonus_points(@league) %></td>
				<td><%= player.games_played(@league) %></td><td><%= player.games_played(@league) / 5 %></td>
				<% @league.league_nights.each do |league_night| %>
					<% if @admin == false || league_night != @league.league_nights.last %>
						<td><%= player.points(league_night) %></td>
					<% elsif player.group(league_night) == nil %>
						<td><%= fields_for :player do |player_fields| %>
								<%= player_fields.check_box player.id, checked: true %>
							<% end %>
						</td>
					<% else %>
						<td>Group <%= player.group(league_night).group_rank %></td>
					<% end %>
				<% end %>
				<% if @admin %>
					<td>Create</td>
				<% end %>
			</tr>
		<% end %>
	</table>
	<% if @admin %>
	  <div class="actions">
	    <%= f.submit "Generate groups" %>
  	  </div>
  	<% end %>

<% end %>
<% end %>

<br/><br/>

<% if @admin %>
<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
<% end %>
