<p id="notice"><%= notice %></p>

<h1><%= @league.title %> current standings</h1>

<table>
	<tr>
		<td>Name</td><td>Average</td><td>Points</td><td>1st</td><td>2nd</td><td>3rd</td><td>4th</td><td>BP</td><td>Games</td><td>Weeks</td>
		<% @league.league_nights.each_with_index do |league_night, week| %>
			<td><%= link_to "W#{week + 1}", league_night_path(league_night)%></td>
		<% end %>
	</tr>
	<% @league.players.each do |player| %>
		<tr><td><%= player.name %></td><td><%= player.average_score(@league) %></td><td><%= player.points(@league) %></td>

			<td><%= player.score_distribution(@league)[4] %></td><td><%= player.score_distribution(@league)[3] %></td><td><%= player.score_distribution(@league)[2] %></td><td><%= player.score_distribution(@league)[1] %></td><td><%= player.bonus_points(@league) %></td>
			<td><%= player.games_played(@league) %></td><td><%= player.games_played(@league) / 5 %></td>
			<% @league.league_nights.each do |league_night| %>
				<td><%= player.points(league_night) %></td>
			<% end %>
		</tr>
	<% end %>
</table>

<br/><br/>

<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>
