<%= form_for(@league_night) do |f| %>
  <% if @league_night.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@league_night.errors.count, "error") %> prohibited this league_night from being saved:</h2>

      <ul>
      <% @league_night.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :league_id %><br>
    <%= f.number_field :league_id %>
  </div>
  <div class="field">
    <%= f.label :location_id %><br>
    <%= f.number_field :location_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
