<p id="notice"><%= notice %></p>
<h1><%= link_to @league_night.league.title, league_path(@league_night.league) %></h1>
<h2><%= @league_night.date.strftime("%B %-d, %Y") %> - <%= @league_night.location.name %></h2>

<% @league_night.league.league_nights.each do |league_night| %>
	<% if league_night == @league_night %>
		<strong>Week <%= league_night.week_number %></strong> |
	<% else %>
		<%= link_to "Week #{league_night.week_number}", league_night_path(league_night)%> |
	<% end %>
<% end %>
<hr/>


<div class="league-nights game-score-table-container">
	<% @league_night.league_games.each do |league_game| %>
		<table class="game-score-table"><th colspan="2"><%= league_game.game.title %></th>
		<% league_game.scores.includes(:player).each do |score| %>
			<tr>
				<td class="player player_<%= score.player_id %> score-<%= score.points %>"><%= score.player.nickname %></td><td class="player player_<%= score.player_id %> text-right score-<%= score.points %>"><%= number_with_delimiter(score.score, :delimiter => ',') %></td>
			</tr>
		<% end %>
		</table>
	<% end %>
</div>

<% if @league_night.league_games.count == 0 %>
	<%= link_to "Add games", new_league_game_path(league_id: @league) %>
<% end %>

<div class="group-table-container">
<% @league_night.groups.each do |group| %>
	<table class="group-table">
		<th>Group <%= group.group_rank %></th><th>Points</th><th>1st</th><th>2nd</th><th>3rd</th><th>4th</th><th>BP</th>
		<% group.players.sort_by {|p| p.points(@league_night)}.reverse.each do |player| %>
			<tr><td><%= player.nickname %></td><td><%= player.points(@league_night) %></td><td><%= player.score_distribution(@league_night)[4] %></td><td><%= player.score_distribution(@league_night)[3] %></td><td><%= player.score_distribution(@league_night)[2] %></td><td><%= player.score_distribution(@league_night)[1] %></td><td><%= player.bonus_points(@league_night) %></td></tr>
		<% end %>
	</table>
<% end %>
</div>

<br/><br/>

<script>
$(".player").mouseover(function() {
	$("." + this.classList[1]).addClass('selected');
});

$(".player").mouseout(function() {
	$("." + this.classList[1]).removeClass('selected');
});
</script>

<div class="graph-container">
<h3><%= @league_night.league_games[0].game.title %></h3>
<canvas id="game0" width="800" height="400"></canvas>
<script>

	var data = {
	    labels: <%= @league_night.league_games[0].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(189,228,168,0.5)",
	            strokeColor: "rgba(189,228,168,0.8)",
	            highlightFill: "rgba(123,178,168,0.75)",
	            highlightStroke: "rgba(123,178,168,1)",
	            data: <%= @league_night.league_games[0].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game0").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>
</div>

<div class="graph-container left">
<h3><%= @league_night.league_games[1].game.title %></h3>
<canvas id="game1" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[1].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(189,228,168,0.5)",
	            strokeColor: "rgba(189,228,168,0.8)",
	            highlightFill: "rgba(123,178,168,0.75)",
	            highlightStroke: "rgba(123,178,168,1)",
	            data: <%= @league_night.league_games[1].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game1").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>
</div>


<div class="graph-container left">
<h3><%= @league_night.league_games[2].game.title %></h3>
<canvas id="game2" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[2].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(189,228,168,0.5)",
	            strokeColor: "rgba(189,228,168,0.8)",
	            highlightFill: "rgba(123,178,168,0.75)",
	            highlightStroke: "rgba(123,178,168,1)",
	            data: <%= @league_night.league_games[2].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game2").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>
</div>

<div class="graph-container left">
<h3><%= @league_night.league_games[3].game.title %></h3>
<canvas id="game3" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[3].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(189,228,168,0.5)",
	            strokeColor: "rgba(189,228,168,0.8)",
	            highlightFill: "rgba(123,178,168,0.75)",
	            highlightStroke: "rgba(123,178,168,1)",
	            data: <%= @league_night.league_games[3].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game3").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>
</div>

<div class="graph-container left">
<h3><%= @league_night.league_games[4].game.title %></h3>
<canvas id="game4" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[4].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(189,228,168,0.5)",
	            strokeColor: "rgba(189,228,168,0.8)",
	            highlightFill: "rgba(123,178,168,0.75)",
	            highlightStroke: "rgba(123,178,168,1)",
	            data: <%= @league_night.league_games[4].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game4").getContext("2d");
	new Chart(ctx).Bar(data, {showBarLabels:false});

</script>
</div>

<br/><br/>
<% if @admin %>
<div class="left">
<%= link_to 'Edit', edit_league_night_path(@league_night) %> |
<%= link_to 'Back', league_nights_path %>
</div>
<% end %>
