<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @league_night.date %>
</p>

<p>
  <strong>League:</strong>
  <%= @league_night.league_id %>
</p>

<p>
  <strong>Location:</strong>
  <%= @league_night.location_id %>
</p>

<% if @league_night.league_games.any? %>
	<table>
	<tr><td></td><td><%= @league_night.league_games[0].game.title %></td>
		<td></td><td><%= @league_night.league_games[1].game.title %></td>
		<td></td><td><%= @league_night.league_games[2].game.title %></td>
		<td></td><td><%= @league_night.league_games[3].game.title %></td>
		<td></td><td><%= @league_night.league_games[4].game.title %></td>
	</tr>

	<% (0...@player_scores[0].length).each do |row| %>

		<tr>
			<% (0...@player_scores.length).each do |column| %>
				<td><%= @player_scores[column][row].player.name %></td><td><%= number_with_delimiter(@player_scores[column][row].score, :delimiter => ',') %></td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% else %>
	<%= link_to "Add games", new_league_game_path(league_id: @league) %>
<% end %>


<% @league_night.groups.each do |group| %>
<br/>
	<table>
		<tr><td>Group <%= group.group_rank %></td><td>Points</td><td>1st</td><td>2nd</td><td>3rd</td><td>4th</td><td>BP</td></tr>
		<% group.players.each do |player| %>
			<tr><td><%= player.name %></td><td><%= player.points(@league_night) %></td><td><%= player.score_distribution(@league_night)[4] %></td><td><%= player.score_distribution(@league_night)[3] %></td><td><%= player.score_distribution(@league_night)[2] %></td><td><%= player.score_distribution(@league_night)[1] %></td><td><%= player.bonus_points(@league_night) %></td></tr>
		<% end %>
	</table>
	<br/>
<% end %>

<br/><br/>
<%= link_to 'Edit', edit_league_night_path(@league_night) %> |
<%= link_to 'Back', league_nights_path %>
