<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @league_night.date %>
</p>

<p>
  <strong>League:</strong>
  <%= link_to @league_night.league.title, league_path(@league_night.league) %>
</p>

<p>
  <strong>Location:</strong>
  <%= @league_night.location.name %>
</p>

<% if @league_night.league_games.any? %>
	<table>
	<tr><td></td><td><%= @league_night.league_games[0].game.title %></td><td></td>
		<td></td><td><%= @league_night.league_games[1].game.title %></td><td></td>
		<td></td><td><%= @league_night.league_games[2].game.title %></td><td></td>
		<td></td><td><%= @league_night.league_games[3].game.title %></td><td></td>
		<td></td><td><%= @league_night.league_games[4].game.title %></td><td></td>
	</tr>

	<% (0...@player_scores[0].length).each do |row| %>

		<tr>
			<% (0...@player_scores.length).each do |column| %>
				<td class="player player_<%= @player_scores[column][row].player_id %>"><%= @player_scores[column][row].player.nickname %></td><td class="player player_<%= @player_scores[column][row].player_id %>"><%= number_with_delimiter(@player_scores[column][row].score, :delimiter => ',') %></td><td></td>
			<% end %>
		</tr>
	<% end %>
	</table>
<% else %>
	<%= link_to "Add games", new_league_game_path(league_id: @league) %>
<% end %>


<% @league_night.groups.each do |group| %>
<br/>
	<table>
		<tr><td>Group <%= group.group_rank %></td><td>Points</td><td>1st</td><td>2nd</td><td>3rd</td><td>4th</td><td>BP</td></tr>
		<% group.players.sort_by {|p| p.points(@league_night)}.reverse.each do |player| %>
			<tr><td><%= player.nickname %></td><td><%= player.points(@league_night) %></td><td><%= player.score_distribution(@league_night)[4] %></td><td><%= player.score_distribution(@league_night)[3] %></td><td><%= player.score_distribution(@league_night)[2] %></td><td><%= player.score_distribution(@league_night)[1] %></td><td><%= player.bonus_points(@league_night) %></td></tr>
		<% end %>
	</table>
	<br/>
<% end %>

<br/><br/>

<script>
$(".player").mouseover(function() {
	$("." + this.classList[1]).addClass('selected');
});

$(".player").mouseout(function() {
	$("." + this.classList[1]).removeClass('selected');
});
</script>

<h3><%= @league_night.league_games[0].game.title %></h3>
<canvas id="game0" width="800" height="400"></canvas>
<script>

	var data = {
	    labels: <%= @league_night.league_games[0].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: <%= @league_night.league_games[0].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game0").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>

<h3><%= @league_night.league_games[1].game.title %></h3>
<canvas id="game1" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[1].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: <%= @league_night.league_games[1].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game1").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>




<h3><%= @league_night.league_games[2].game.title %></h3>
<canvas id="game2" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[2].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: <%= @league_night.league_games[2].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game2").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>

<h3><%= @league_night.league_games[3].game.title %></h3>
<canvas id="game3" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[3].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: <%= @league_night.league_games[3].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game3").getContext("2d");
	new Chart(ctx).Bar(data, {});

</script>

<h3><%= @league_night.league_games[4].game.title %></h3>
<canvas id="game4" width="800" height="400"></canvas>

<script>

	var data = {
	    labels: <%= @league_night.league_games[4].scores.includes(:player).collect{|s| s.player.nickname}.to_json.html_safe %>,
	    datasets: [
	        {
	            label: "My First dataset",
	            fillColor: "rgba(220,220,220,0.5)",
	            strokeColor: "rgba(220,220,220,0.8)",
	            highlightFill: "rgba(220,220,220,0.75)",
	            highlightStroke: "rgba(220,220,220,1)",
	            data: <%= @league_night.league_games[4].scores.collect(&:score) %>
	        }
	    ]
	};

	var ctx = document.getElementById("game4").getContext("2d");
	new Chart(ctx).Bar(data, {showBarLabels:false});

</script>

<br/><br/>
<%= link_to 'Edit', edit_league_night_path(@league_night) %> |
<%= link_to 'Back', league_nights_path %>
